/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



#title {
    background-color: #819dff;
    padding-left: 50px;
}

.navbar-brand {
    font-family: 'Acme', sans-serif;
}

.nav-item:hover {
    border-bottom: 1px solid white;
}


#An {

    font-size: 4rem;
    animation: an;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    position: relative;
}

@keyframes an {
    from {
        right: -100px
    }

    to {
        right: 0px
    }
}

#dbn {
    padding-left: 55px;
    padding-top: 50px;
}

.fa-google-play:hover {
    color: black;
}

#loginform {
    width: 30%;
    background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: none;
    padding: 100px 50px;
    position: absolute;
    top: 100px;
    right: 250px;
    height: 550px;
    border-radius: 20px;
}

.close {
    cursor: pointer;
    position: relative;
    bottom: 180px;
    left: 318px;
    font-weight: 700;
    font-size: 25px;
    transform: rotate(45deg);
    display: inline-block;
    color: white;

}

#email-div {
    position: relative;
    bottom: 100px;
}

#inputemail {
    width: 75%;
    border-radius: 20px;
    border-color: black;
}

#pass-div {
    position: relative;
    bottom: 40px;
}

#InputPassword {
    width: 75%;
    border-radius: 20px;
    border-color: black;
}

#rem-div {
    position: relative;
    bottom: 20px;
}

#sbmtbtn {
    border-radius: 10px;
    width: 130px;
    height: 30px;
    position: relative;
    left: 85px;
    top: 30px;
    background-color: #287ad1;
    color: white;
    text-align: center;
}

#yoga {
    background-color: #e1e29f;
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 30px;
}

#yogaimg {
    height: 500px;
    width: 500px;
}

#pratice {
    padding-top: 100px;
}



#boost2 {
    padding-top: 50px;
    position: relative;
}



#learn_btn {

    width: 150px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    margin-top: 40px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;


}

#learn_btn:hover {
    box-shadow: inset 150px 0 0 0 #f9e506;

}

#supplies {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #ffaaa7;
}

#logos {
    padding-top: 50px;
}

#logostext {
    font-size: 3.5rem;
}

#o2 {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

#doc {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

#beds {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

#food {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

.tippy-box[data-theme~='tomato'] {
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-weight: 500;
    color: white;
    font-size: 1rem;
}



#con_txt {
    color: black;
    font-size: 35px;

}

.fab {
    font-size: 20px;
    color: black;
    padding-right: 20px;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;

}

.navbar.sticky {
    padding: 15px 0;
    background: #53B8BB;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo:hover {
    background-image: linear-gradient(brown, purple);
}



.navbar .logo a span {
    color: yellowgreen;
    transition: all 0.3s ease;
}






footer {
    position: relative;
    background: #000;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #000;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #2c303a;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }

    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }
}